.two-column-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.left-column, .right-column {
  flex: 1;
}

.empty-result {
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.empty-result p {
  margin: 0;
}

@media (max-width: 768px) {
  .two-column-container {
    flex-direction: column;
  }

  .left-column, .right-column {
    flex: unset;
    width: 100%;
  }
}